.header{
    background-color: aqua;
    position: relative;
    color: blue;
    border:5px solid blue;
    bottom: 5px;
    
}
.header2{
    margin-left: 5px;
    margin-bottom: 5px;
}
.gif{
    width: 250px;
}
.about{
    display: inline-block;

}
.section1{
    position: relative;
    left: 400px
}
.section1 h2{
    text-align: center;
}
li{
    font-size: 15px;
}
ul{
   position: relative; 
   bottom: 14px;
}
.main{
    display: inline-block;
}
.italic{
    font-style: italic;
    
}