.header{
    background-color: aqua;
    position: relative;
    color: blue;
    border:5px solid blue;
    bottom: 5px;
    
}
.header2{
    margin-left: 5px;
    margin-bottom: 5px;
}
.gif{
    width: 250px;
}
.about{
    
}