.caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }

  .width-and-height {
    height: 20px;
    width: 20px;
  }

  .padding {
        padding: 50px;
  }

  .margin {
  margin: 60px;
  }

  .border {
border: 40px;
  }