h1{
    font-style: italic;
    text-decoration:line-through;
    font-family: sans-serif;
}
p{  
    color: rgb(51, 201, 31);
    text-decoration: rgb(226, 0, 45);
    text-align: right;
    font-size: 3em;
    font-weight: 600;
}
body{
    font-size: 16px;
}
#amarelo{
    font-weight: bolder;
    color:rgb(0, 0, 0) ;
    background-color: yellow;
}
#vermelho{
    font-weight: bolder;
    color: rgb(250, 250, 250);
    background-color: red;
}
#marrom{
    font-weight: bolder;
    color: rgb(232, 241, 241);
   background-color: brown;
}